<?xml version="1.0"?>
<config>
	<modules>
		<Artera_Privatecompany>
		<version>1.1.0</version>
		</Artera_Privatecompany>
	</modules>
	<global>
		<helpers>
			<privatecompany>
				<class>Artera_Privatecompany_Helper</class>
			</privatecompany>
		</helpers>
		<blocks>
			<privatecompany>
				<class>Artera_Privatecompany_Block</class>
			</privatecompany>
		</blocks>
		<models>
			<privatecompany>
				<class>Artera_Privatecompany_Model</class>
				<resourceModel>privatecompany_mysql4</resourceModel>
			</privatecompany>
			<customer>
                <rewrite>
					<address>Artera_Privatecompany_Model_Customer_Address</address>
                </rewrite>
			</customer>
			<sales>
				<rewrite>
					<quote_address>Artera_Privatecompany_Model_Sales_Quote_Address</quote_address>
				</rewrite>
			</sales>
		</models>
		<resources>
			<privatecompany_setup>
				<setup>
				<module>Artera_Privatecompany</module>
				<class>Mage_Sales_Model_Mysql4_Setup</class>
				</setup>
				<connection>
				<use>core_setup</use>
				</connection>
			</privatecompany_setup>
			<privatecompany_write>
				<connection>
				<use>core_write</use>
				</connection>
			</privatecompany_write>
			<privatecompany_read>
				<connection>
				<use>core_read</use>
				</connection>
			</privatecompany_read>
		</resources>
		<fieldsets>
			<customer_address>
				<privatecompany_fiscalcode>
					<to_quote_address>*</to_quote_address>
				</privatecompany_fiscalcode>
			</customer_address>
			<sales_convert_order_address>
				<privatecompany_fiscalcode>
					<to_quote_address>*</to_quote_address>
				</privatecompany_fiscalcode>
			</sales_convert_order_address>
			<sales_convert_quote_address>
				<privatecompany_fiscalcode>
					<to_order_address>*</to_order_address>
					<to_customer_address>*</to_customer_address>
				</privatecompany_fiscalcode>
			</sales_convert_quote_address>
			<sales_copy_order_billing_address>
				<privatecompany_fiscalcode>
					<to_order>*</to_order>
				</privatecompany_fiscalcode>
			</sales_copy_order_billing_address>
		</fieldsets>
	</global>
	<frontend>
		<layout>
			<updates>
				<privatecompany>
					<file>privatecompany.xml</file>
				</privatecompany>
			</updates>
		</layout>
		<translate>
			<modules>
				<privatecompany>
					<files>
						<default>Artera_Privatecompany.csv</default>
					</files>
				</privatecompany>
			</modules>
		</translate>
	</frontend>
</config> 