<?xml version="1.0"?>
<config>
    <modules>
        <CueBlocks_Network>
            <version>2.5.1</version>
        </CueBlocks_Network>
    </modules>
    <frontend>
        <routers>
            <network>
                <use>standard</use>
                <args>
                    <module>CueBlocks_Network</module>
                    <frontName>network</frontName>
                </args>
            </network>
        </routers>
    </frontend> 
    <global>
        <routers>
            <network>
                <use>standard</use>
                <args>
                    <module>CueBlocks_Network</module>
                    <frontName>network/list</frontName>
                </args>
            </network>
        </routers>
        <models>
            <network>
                <class>CueBlocks_Network_Model</class>
                <resourceModel>network_mysql4</resourceModel>
            </network>
            <network_mysql4>
                <class>CueBlocks_Network_Model_Mysql4</class>
                <entities>
                    <network>
                        <table>cb_social_network</table>
                    </network>
                </entities>
            </network_mysql4>
        </models>
        <resources>
            <network_setup>
                <setup>
                    <module>CueBlocks_Network</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </network_setup>
            <network_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </network_write>
            <network_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </network_read>
        </resources>
        <blocks>
            <network>
                <class>CueBlocks_Network_Block</class>
            </network>
        </blocks>
        <helpers>
            <network>
                <class>CueBlocks_Network_Helper</class>
            </network>
        </helpers>
    </global>
    <admin>
        <routers>
            <network>
                <use>admin</use>
                <args>
                    <module>CueBlocks_Network</module>
                    <frontName>network</frontName>
                </args>
            </network>
        </routers>
    </admin>
    <adminhtml> <!-- Leave it here: don't move in adminhtml.xml, in case debug-->
        <layout>
            <updates>
                <network>
                    <file>network.xml</file>
                </network>
            </updates>
        </layout>
    </adminhtml>    
</config> 
